body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(135deg,  #C724B1 0%, #000370 100%);
}
/* 
.container {
    text-align: center;
} */
 .container {
    text-align: center;
    color: #ff00ff; /* Neon pink (adjust as desired) */
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff; /* Neon glow effect */
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    flex-direction: initial;
    /* background-color: aqua; */
}

.cell {
    background-color: linear-gradient(135deg, #fbc2eb 0%, #a6c1ee 100%);
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

#status {
    margin-top: 20px;
    font-size: 1.5rem;
    /* color */
}

#restartButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background: linear-gradient(135deg, #a6c1ee 0%, #fbc2eb 100%);
    border: 2px solid #000;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#restartButton:hover {
    background-color: #ff00ff; /* Neon pink (adjust as desired) */
    transform: scale(1.05); /* Slight zoom effect on hover */
}
